/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

/* Common styles or Utilities */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

/* Cover title and image */

.cover {
  display: flex;
  background-color: #2d25a0;
  width: 100%;
  height: 667px;
  justify-content: center;
  align-items: center;
}
.cover-title {
  margin-right: 102px;
  transition: transform 1.5s;
}
.cover-title:hover {
  transform: translate(20px);
}

.cover-title h1 {
  color: #ffffff;
  font-weight: 700px;
  font-size: 64px;
  line-height: 30px;
}
.cover-nav {
  background-color: #e02c6d;
  width: 140px;
  padding: 10px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.cover-nav a,
i {
  text-decoration: none;
  font-weight: 500px;
  color: #ffffff;
  font-size: 16px;
  margin: 0 8px;
}
.cover-image {
  transition: ease transform 3s;
}

.cover-image img {
  width: 556.01px;
  height: 438px;
}

.cover-image:hover {
  transform: scale(1.1);
}

/* top player and detail styles */

.container {
  background-color: #ffffff;
  width: 870px;
  padding-left: 180px;
  margin-top: 70px;
  border-radius: 5px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  align-items: center;
}
.player {
  padding: 15px;
  border-radius: 15px;
  min-height: 575px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img {
  width: 300px;
  height: 256px;
  border-radius: 15px;
}
.player h2 {
  font-size: 28px;
}
.player p {
  font-size: 16px;
  font-weight: 400px;
  line-height: 26px;
  color: #6c6c6c;
  font-style: normal;
}

/* football Video style */
.football-video {
  display: flex;
  flex-direction: column;
  margin-left: 190px;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: ease transform 2s;
}
.description:hover {
  transform: scale(1.1);
}
.description h1 {
  font-size: 30px;
  line-height: 0;
}
.description p {
  color: #6c6c6c;
  text-align: center;
}

.highlights {
  background-color: #e02c6d;
  width: 140px;
  padding: 10px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.highlights a,
i {
  text-decoration: none;
  font-weight: 500px;
  color: #ffffff;
  font-size: 14px;
  margin: 0 8px;
}

/* footer styles */
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-top: 158px;
  margin-bottom: 63px;
}
.social-icons a {
  background-color: lightgray;
  width: 32px;
  height: 32px;
  padding: 5px;
  margin-right: 14px;
  margin-bottom: 50px;
  border-radius: 500px;
}
.social-icons a i {
  color: #6c6c6c;
}
.copyright-text {
  margin-top: 20px;
  margin-right: 15px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
}

/* Media Queries */

/* Mobile Devices */

@media only screen and (max-width: 688px) {
  .container {
    width: auto;
  }
  .cover {
    flex-direction: column;
    justify-content: center;
  }
  .players {
    grid-template-columns: repeat(1, 1fr);
  }
  .football-video {
    display: flex;
    flex-direction: column;
    margin-left: 190px;
    margin-top: 100px;
    align-items: center;
  }
  .description {
    align-items: center;
    justify-content: center;
  }
  .description h1 {
    font-size: 16px;
    line-height: none;
  }
  .footer-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .football-logo {
    width: 100%;
  }
  .social-icons {
    display: flex;
    margin-left: 476px;
  }
  .copyright-text {
    margin-left: 500px;
  }
}
